<button {{bind-attr class="view.isOpen:active view.revealToggle"}} {{action "toggleReveal" target=view bubbles=false}}>
  <span class="text">{{view.text}}</span>
  <span class="icon">&blacktriangledown;</span>
  <span class="subtext">{{view.subtext}}</span>
</button>
<div {{bind-attr class="view.revealContent :dropdown :dropdown-menu"}}>
  <div {{bind-attr class="view.revealWrap"}}>
    {{yield}}
  </div>
</div>
