<button class="{{unbound view.toggleClass}} {{unbound view.toggleClasses}}" {{action "toggleReveal" target=view bubbles=false}}>{{unbound view.text}}</button>
<div class="{{unbound view.popupStyle}} {{unbound view.contentClass}} {{unbound view.popupAlign}}">
  <div class="{{unbound view.arrowClass}} {{unbound view.arrowAlign}}"></div>
  <div class="{{unbound view.contentWrapClass}}">
    {{yield}}
  </div>
</div>