<button class="{{unbound view.toggleClass}}" {{action "toggleReveal" target=view bubbles=false}}>{{unbound view.text}}</button>
<div class="{{unbound view.contentClass}}">
  <div class="arrow"></div>
  <div class="{{unbound view.contentWrapClass}}">
    {{yield}}
  </div>
</div>
