<button {{bind-attr class="view.revealToggle"}} {{action "toggleReveal" target=view bubbles=false}}>{{view.text}}</button>
<div {{bind-attr class="view.revealContent :popup :popup-menu"}}>
  <div class="arrow"></div>
  <div {{bind-attr class="view.revealWrap"}}>
    {{yield}}
  </div>
</div>
