<button class="{{unbound view.toggleClass}} {{unbound view.toggleClasses}}" {{action "toggleReveal" target=view bubbles=false}}>
  {{#if view.text}}<span class="text">{{view.text}}</span>{{/if}}
  {{#if view.iconClasses}}<span class="icon {{unbound view.iconClasses}}"></span>{{/if}}
  {{#if view.subtext}}<span class="subtext">{{view.subtext}}</span>{{/if}}
</button>
<div class="{{unbound view.contentClass}}">
  <div class="{{unbound view.contentWrapClass}}">
    {{yield}}
  </div>
</div>