<div class="examples">

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h2 class="section-heading">Popups</h2>
        <p>Welcome to the <strong>popups</strong> section.</p>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Popups --&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Popup styles</h3>
        
        <div class="popup arrow-top center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup arrow-bottom center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup arrow-left center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup arrow-right center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup popup-menu arrow-top center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup popup-menu arrow-bottom center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup popup-menu arrow-left center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup popup-menu arrow-right center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Popups --&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Popups</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>

        <div class="popupview-example">

          

          {{#view App.PopupView position="bottom-center" id="popup-example-1"}}
            <button class="reveal-toggle btn btn-primary" {{action "toggleReveal" target=view bubbles=false}}>Top nianf ianf ianfia nif </button>
            <div class="reveal-content popup popup-menu">
              <div class="arrow"></div>
              <div class="wrap">
                <p>Top - Center</p>
              </div>
            </div>
          {{/view}}

          {{#view App.PopupView position="bottom-center" id="popup-example-2"}}
            <button class="reveal-toggle btn btn-primary" {{action "toggleReveal" target=view bubbles=false}}>Bottom</button>
            <div class="reveal-content popup popup-menu">
              <div class="arrow"></div>
              <div class="wrap">
                <p>Bottom - Center</p>
              </div>
            </div>
          {{/view}}

          {{#view App.PopupView position="left-center" id="popup-example-3"}}
            <button class="reveal-toggle btn btn-primary" {{action "toggleReveal" target=view bubbles=false}}>Left</button>
            <div class="reveal-content popup popup-menu">
              <div class="arrow"></div>
              <div class="wrap">
                <p>Left - Center</p>
              </div>
            </div>
          {{/view}}

          {{#view App.PopupView position="bottom-right" id="popup-example-4"}}
            <button class="reveal-toggle btn btn-primary" {{action "toggleReveal" target=view bubbles=false}}>Right fnaifn ainf ianf ian</button>
            <div class="reveal-content popup">
              <div class="arrow"></div>
              <div class="wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.</p>
                {{#view App.PopupView position="right-center" id="popup-example-5"}}
                  <button class="reveal-toggle btn btn-primary" {{action "toggleReveal" target=view bubbles=false}}>Cog</button>
                  <div class="reveal-content popup popup-menu">
                    <div class="arrow"></div>
                    <div class="wrap">
                      <p>Right - Center</p>
                    </div>
                  </div>
                {{/view}}
              </div>
            </div>
          {{/view}}

        </div>
      </div>
      <div class="example-code">
        
      </div>
    </div>
  </div><!-- /.example -->

</div>