<div class="examples">

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h2 class="section-heading">Reveals</h2>
        <p>Welcome to the <strong>buttons</strong> section.</p>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Reveals --&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Reveals</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        {{#view App.RevealView}}
          <button class="reveal-toggle btn btn-default" {{action "toggleReveal" target=view bubbles=false}}>Reveal Toggle</button>
          <div class="reveal-content">
            <div class="wrap">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, asperiores earum doloribus deleniti recusandae eum dolores nostrum possimus placeat reprehenderit odit ullam molestias rerum mollitia quisquam optio vel aperiam id?</p>
            </div>
          </div>
        {{/view}}
      </div>
      <div class="example-code">
        
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Panels</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        {{#view App.PanelView}}
          <button class="reveal-toggle btn btn-default btn-icon btn-lrg btn-block" {{action "toggleReveal" target=view bubbles=false}}>Reveal Toggle<span class="icon">&blacktriangledown;</span></button>
          <div class="reveal-content">
            <div class="wrap">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, asperiores earum doloribus deleniti recusandae eum dolores nostrum possimus placeat reprehenderit odit ullam molestias rerum mollitia quisquam optio vel aperiam id?</p>
            </div>
          </div>
        {{/view}}

        {{#view App.PanelView}}
          <button class="reveal-toggle btn btn-default btn-icon btn-lrg btn-block" {{action "toggleReveal" target=view bubbles=false}}>Reveal Toggle<span class="icon">&blacktriangledown;</span></button>
          <div class="reveal-content">
            <div class="wrap">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, asperiores earum doloribus deleniti recusandae eum dolores nostrum possimus placeat reprehenderit odit ullam molestias rerum mollitia quisquam optio vel aperiam id?</p>
            </div>
          </div>
        {{/view}}
      </div>
      <div class="example-code">
        
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Dropdown Reveals</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        {{#view App.DropdownView}}
          <button {{bind-attr class="view.isOpen:active :reveal-toggle :btn :btn-primary :btn-icon"}} {{action "toggleReveal" target=view bubbles=false}}>Reveal Toggle<span class="icon">&blacktriangledown;</span></button>
          <div class="reveal-content">
            <div class="wrap">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, asperiores earum doloribus deleniti recusandae eum dolores nostrum possimus placeat reprehenderit odit ullam molestias rerum mollitia quisquam optio vel aperiam id?</p>
            </div>
          </div>
        {{/view}}
      </div>
      <div class="example-code">
        
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Popup Reveals</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>

        <div class="popupview-example">

          {{#view App.PopupView position="top-center" id="popup-example-1"}}
            <button class="reveal-toggle btn-primary" {{action "toggleReveal" target=view bubbles=false}}>lorem</button>
            <div class="reveal-content popup popup-menu">
              <div class="arrow"></div>
              <div class="wrap">
                <p>Top - Center</p>
              </div>
            </div>
          {{/view}}

          {{#view App.PopupView position="bottom-center" id="popup-example-2"}}
            <button class="reveal-toggle btn-primary" {{action "toggleReveal" target=view bubbles=false}}>lorem</button>
            <div class="reveal-content popup popup-menu">
              <div class="arrow"></div>
              <div class="wrap">
                <p>Bottom - Center</p>
              </div>
            </div>
          {{/view}}

          {{#view App.PopupView position="left-center" id="popup-example-3"}}
            <button class="reveal-toggle btn-primary" {{action "toggleReveal" target=view bubbles=false}}>lorem</button>
            <div class="reveal-content popup popup-menu">
              <div class="arrow"></div>
              <div class="wrap">
                <p>Left - Center</p>
              </div>
            </div>
          {{/view}}

          {{#view App.PopupView position="right-center" id="popup-example-4"}}
            <button class="reveal-toggle btn-primary" {{action "toggleReveal" target=view bubbles=false}}>lorem</button>
            <div class="reveal-content popup popup-menu">
              <div class="arrow"></div>
              <div class="wrap">
                <p>Right - Center</p>
              </div>
            </div>
          {{/view}}

        </div>
      </div>
      <div class="example-code">
        
      </div>
    </div>
  </div><!-- /.example -->

</div>